header.estilo5{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin:auto;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    background-color:white;
}
h1.estilo3{
    color:red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;

}
img.estilo2{
    width: 200px;
    margin: auto;
}
table.estilo2{
    width: 750px;
    align-items: center;
    margin:auto;
    
}
button{
    color:red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4_feFg9TiJ_GHPkGNZFScIecs1E9KgpeIrw&usqp=CAU);
    background-position: cover;
    margin: auto;
}

main{
    align-items: center;
   
}
body{
    background-color: black;
}
p{
    color:red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;

}
div.estilo4{
    margin:auto;
    width: 40%;
}
footer{
    margin:auto;
    width: 100%;
    margin-top: 10px;
    background-color: red;
    margin: -10px;
}
video{
    margin-bottom: 20px;
}
img.estilo1{
    width: 200px;
    margin: auto;
    display:block;
}

