.eh{
    background-color: white;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
.eh a:hover {
    color: rgb(168, 31, 31);
}
span > a{
   color: black;
   font-size: 30px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-decoration: none;
   padding: 10px;
}
img.e1{
    width: 80px;
    text-align: left;
}
.menu{
    margin: auto;
}
footer{
    background: white;
    width: 100%;
    height: 100%;
    margin: -10px;
}
body{
    background-color: black;
    text-align: center;
    padding: -20px;
}
h1 {
    font-size: 40px;
    color:red;
    text-align: center;
    font-family: "Open Sans",sans-serif; 
}

h2 {
    color: white;
    font-size: 25px;
    font-family: "Opens Sans",sans-serif;
}
h3{
    color: red;
    font-size: 30px;
    font-family: "Opens Sans",sans-serif;
}

p{
    color: black;
    text-indent: 30px;
    text-transform: uppercase;
    display: block;
    margin: 5px;
}
.e3 {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 30px;
  }
  
  .e3:hover {
    box-shadow: 0 0 2px 1px red;
  }

.btn{
    background-color: red; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



